#dashboard-page{
    background-color: rgb(225, 222, 231);
    position: relative;
}
#upper-panel{
    height: 70px;
}

.text-arrow-rec{
    background-color: white;
    height: 16%;
    margin: 8px 6px 20px 6px;
    text-align: center;
}
.text-arrow-rec>p{
    padding: 2px 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 900;
}
.text-arrow-rec h3{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
    font-weight: 700;
    margin-left:-50px;
}
.text-arrow-rec a{
    color:white;
}


.pay-attention{
    height: 37%;;
}





.red{
    color: red;
}
.green{
    color: green;
}
#middle-panel{
    background-color: white;
    margin: 10px;
    height: 96%;
}

.user-name{
    font-size:15px;
    font-weight: 700;
    display: inline;
    vertical-align: top;
}
#chat-page{
    padding:5px;
    overflow: auto;
    height:101%;
}

.chat-card img{
    border-radius: 40px;
    height: 40px;
    position: relative ; 
}
.chat-card i{
    position: relative ; 
    top:16px;
    left:-16px;
    background-color: blue;
    color: white;
    padding:4px;
    border-radius: 30px;
}
.chat-card-up{
    padding:5px;
}

.chat-card {
    background-color: white;
    margin: 5px 0px;
    height: 80px;
}
.chat-title{
    font-size: 14px;
    padding-left: 5px;
}
/* .chat-status-date{
    font-size: 10px;
    display: inline;
} */
.small-font{
    font-size: 10px;
}

#lower-panel{
    background-color: white;
    width:100%; 
}
.main-panel{
    /* background-color: green; */
}               
/* #lower-panel #bar{
    height:100px;
}    */
#bar{
    height:100px!important;
}   
.border-button-dashboard{
    border: 2px solid rgba(125,185,232,0);
    padding : 0px;
    font-size: 14px;  
    width:100%;  
    /* margin: 20px; */
    /* background-color: rgba(21,69,115,1); */
    background-color: #7A0212;
    color: white;
    top:-10px;
    position: relative;

    background: linear-gradient(243deg,#7a0212, #7a0212,#7a0212, rgb(202,143,70,0.3),#7a0212);
    /* background: linear-gradient(243deg, #7a0212, rgb(230, 58, 80),#7a0212); */
    background-size: 400% 400%;

    animation: AnimationName 10s ease infinite;
  }


@keyframes AnimationName { 
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
.dashboard-values{
    margin-top: -10px;
    padding-bottom: 16px;
}


/* //--------------------------// */
.css-typing{
    padding-top:10px;
}

.css-typing p {
    border-right: .15em solid orange;
    
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin:0px;
    padding:0px 20px 0px 20px;

    width: 17em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(1) {
    width: 17em;
    animation: type 4s steps(40, end);    
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 17em;
    opacity: 0;    
    animation: type2 2s steps(40, end);    
    animation-delay: 4s;    
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 17em;
    opacity: 0;    
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;    
    animation-delay: 6s;    
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(4) {
    width: 17em;
    opacity: 0;    
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;    
    animation-delay: 8s;    
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(5) {
    width: 17em;
    opacity: 0;    
    animation: type2 2s steps(40, end);    
    animation-delay: 10s;    
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

/* .inline{
    display: inline;
} */