

* {
    padding: 0px;
    margin:0px;
}

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
   
}

/* ==============================  landing game ============================== */
.landing-page{                  
    background-image: url('../app/resources/images/glenn-carstens-peters_small.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    width:100vw;
    height:100vh;
}

.border-button{
    border: 2px solid rgba(125,185,232,0);
    padding : 10px;
    font-size: 16px;  
    width:100px;  
    /* margin: 20px; */
    background-color: rgba(53,97,161,1);
    color: white;
}
.border-button:hover{
    
    background-color: rgba(89,148,202,1);
}
.border-button:disabled ,.border-button:hover:disabled{
    background-color: gray;
}


.main-header{        
    color: white;
    /* background-color: lightblue; */
    /* background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(89,148,202,1) 62%,rgba(95,154,207,0.7) 68%,rgba(125,185,232,0) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 36%,rgba(89,148,202,1) 62%,rgba(95,154,207,0.7) 91%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-bottom: 30px;
    width:88%;
    margin: auto;
}
.main-header p:not(:first-child){
    font-size: 20px;
    margin: 0px;
}

.main-header-text{
    font-family: 'Juice ITC Bold', 'Juice ITC';
    font-size: 80px;
    font-weight: 700;
}


.sub-header{
    font-weight: 700;  
    font-size: 32px;
    padding-top:120px;
}


main{
    margin: auto;
    text-align: center;
    width:100%;  
    height: 100%;
    position:relative;
}


/* ==============================  main menu ============================== */

#main-menu{
    background-color: rgb(51, 153, 255);  
    font-weight: 600;
    padding:0px;
}

#main-menu a{
    color:white;
    width:146px;
    text-align: center;
}


#img-container {
    position: relative;
    text-align: center;
    color: black;
}
#img-container a{
    font-family: 'Juice ITC Bold', 'Juice ITC';
    font-size: 50px;
    font-weight: 700;
 
    
}
.centered {
    position: absolute;
    top: 21%;
    left: 99%;
    transform: translate(-50%, -50%);
}

#navbarSupportedContent ul{
    padding-left: 70px;
    height:60px;
}
#navbarSupportedContent>ul>li{
    font-size: 14px;
    /* padding:10px 40px; */
}
#navbarSupportedContent>ul>li:hover{
    background-color: rgb(171, 210, 248);  ;
}

#navbarSupportedContent>ul>li .active{
    background-color: rgb(171, 210, 248);  ;
    /* background-color: red; ; */
    color:black;
    height: 100%;;
}

/* ============================== register page ============================== */
.register-page{
    font-family: 'Raleway', sans-serif;        
    background-size: cover; 
    background-image: url("../app/resources/images/helloquence_small.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    width:100vw;
    height:100vh;
    position: absolute;
    text-align: left;


}
.opacity-rec-color{
    background-color: rgba(201, 213, 224, 0.7);
    margin: 50px;
}

/* .opacity-rec{
    background-color: white;
    opacity: 0.6;
    height: 570px;
    margin: 3%;
    position: relative;
} */



.opacity-rec-color>p{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding : 10px 25px 1px;
}

.gray-rec{
    background-color:rgb(192, 197, 201); 
    margin: 20px 10px;
    padding:10px;
    
	
}


.gray-rec>h1{
    font-size:24px;
    margin-bottom: 11px;
    font-weight: 600;
	
}
.gray-rec .one-input{
    padding-bottom: 20px;
}

.reg-info-rec{
    text-align:left;
    
        padding: 5px;
        
    }

.info-rec{
text-align:left;
	 float: left;
    width: 660px;
    height: 500px;
    margin: 10px;
    
}
.image-and-lines{
    padding-bottom: 50px;
}

.image-and-lines>i{
   font-size: 50px;
}

.two-lines{
    display: inline-block;
    
}


.two-lines>h1{   
	    font-size:28px;
        margin:0;
        display: inline-block;
        font-weight: 700;
}

.two-lines > p{
	font-size:16px;
    margin:0;
    font-weight: 700;
   
}

input{
    padding:10px;
    border-width: 2px;
    border-style: inset;
}
.full-line
{
    width: 100%;
    padding: 8px;
    
}
.one-line{
    padding: 0px 16px;
}

.one-line>input , .one-line>select{
    padding:8px;
    margin-bottom: 20px;
}
/* .one-line{
    display: inline;
    padding-bottom: 10px;
    
}
.one-line>input{
    width:49.3%;
    padding:8px;
    margin-bottom: 20px;
} */


.width-button{    
    width: 100%;
}

.profile-page{
margin:auto;

}


/* ============================== profile-page ============================== */

.img-container {
    position: relative;
    width: 150px;
    margin: auto;   
}

.profile-img {
    border-radius: 50px;
  opacity: 1;
  display: block;
  width: 150px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
 
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 6px 16px;
  z-index: 2;
}



/* ============================== resume-page ============================== */
.resume-div{

}

/* #accordionCoverLetter
#accordionResume */

.accordion .card-header p{
  display: inline;  
  
}
.accordion .card-header i{
    padding:0px 13px;
}
.accordion-line{
    width: 100%;;
    text-align: left;
}

.accordion-line.collapsed .fa-caret-down,
.accordion-line .fa-caret-right {
  display: none;
}

.accordion-line.collapsed .fa-caret-right,
.accordion-line .fa-caret-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}


.icon-on-accordion{
    /* display: none; */
    /* display: inline; */
    position: relative;
    float:right;
    margin-top: -17px;
    margin-right: -14px;
   
}
a.action-icons.readonly-mode{
    color: black;
}
a.action-icons.edit-mode{
    color: red;
    outline: none;
    background: #e5e5e5;
}



.input-in-accordion{
    padding:0px 5px;
    width:100%;
   
}

.no-padding-no-margin{
    padding:0px;
    margin:0px;
}
#icon-row{
    line-height: 1rem;
}
.action-icons{
    background-color: white;
    border: 0px;
    color:gray;
    font-size: 20px
}


.action-icons:hover, .action-icons:focus{
    /* background-color: #0074a9; */
    color:red;
    outline: none;
  }
  .not-editable{
      border: 0px;
      color: gray;
      
  }
  .editable{
    border: 1px solid gray;
    color: black;
    
  }

  .align-center{
      margin: auto;
  }


  /* ========== */
  .open-dialog{
  border-radius: 3px;
  margin: 10px;
}
.confirmation-dialog{
  display: none;
}

.card-view{
    display: inline-block;
    padding:5px;
}

.card-view .card-header, .card-view .card-body , .card-view .card-footer{
    padding:4px;
}

.card-view .card-body{
    height: 60px;
}
.card-view .card-body p{
    font-size: 14px;
}


.card-view .card-header{
    height: 55px;
    background-color: blue;
}
.card-view .card-header p{
   display: inline;
}
.card-view i{
   float:right;
   font-size: 13px;
   padding:2px;
}

.w-150{
    width: 150px;
    display: inline-block;
    /* background-color: bisque; */
}

#sendCV>ul{
    padding:20px;
    width:600px;
    margin: auto;
}
.required-field{
    margin-left: -20px;
    z-index: 1;
}

input:required:invalid{  
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC");

        background-position: right top;
        background-repeat: no-repeat;                              
}
/* #send-cv-btn:disabled{
    background-color: red;
} */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.modal-footer .btn{
  width:100px;
}

.gray-rec-header h1{
    display: inline;
    font-size: 24px;
    font-weight: 600;
}
.gray-rec-header .btn{
    float: right;
}
.gray-rec-header{
    padding:5px 0px 15px 0px;
}

#accordionResume .container-fluid{
    padding-top:4px;
}

/* ================= slider ================= */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* ================= slider ================= */
.switch-text{
    position: relative;
    display: inline;
    top:-11px;
}
