<div id="sendCV">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active font-weight-bold" data-toggle="tab" href="javascript:void(0)" data-target="#cardView">
                <i class="fas fa-th-large"></i> Card View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" data-toggle="tab" href="javascript:void(0)" data-target="#listView">
                <i class="fas fa-th-list"></i> List View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" data-toggle="tab" href="javascript:void(0)" data-target="#sendView">
                <i class="fas fa-plus-square"></i> Send CV Now</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="cardView">


            <div class="container">

                <div class="card-view" ng-repeat="cvSent in cvSentArr">
                    <div class="card-grid1">
                        <div class="card w-150">
                            <div class="card-header bg-gray-custom text-white text-uppercase">

                                <a class="bg-gray-custom action-icons" title="Delete current resume" data-toggle="modal" data-target="#Modal{{resume.id}}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <p>{{cvSent.company}}</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{cvSent.JobTitle}}</p>
                            </div>
                            <div class="card-footer">

                                <small class="text-muted">{{cvSent.date| date:'yyyy-MM-dd HH:mm'}}</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>




        </div>
        <div class="tab-pane container fade" id="listView">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">Date</th>
                        <th scope="col">Job Title</th>
                        <th scope="col">Email</th>                        
                        <th scope="col">Contact Peron</th>
                        <th scope="col">Description</th>
                        <!-- <th scope="col">Link To Ad</th> -->
                        <th scope="col">Resume Version</th>
                        <th scope="col">Cover Letter Version</th>
                        <th scope="col">"Protfolio Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cvSent in cvSentArr">
                        <th scope="row">{{cvSent.company}}</th>
                        <td>{{cvSent.date| date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{cvSent.JobTitle}}</td>
                        <td>{{cvSent.email}}</td>
                        <td>{{cvSent.contactPeron}}</td>
                        <td>{{cvSent.description}}</td>
                        <!-- <td>{{cvSent.linkToAdSource}}</td> -->
                        <td>{{cvSent.resumeVersion}}</td>
                        <td>{{cvSent.coverLetterVersion}}</td>
                        <td>{{cvSent.protfolioVersion}}</td>

                    </tr>

                </tbody>
            </table>



        </div>
        <div class="tab-pane container fade" id="sendView">

            <div class="align-center no-padding-no-margin1 col-xl-8 col-lg-8 ">

                <div class="gray-rec">
                    <div class="gray-rec-header">
                            <h1>Send CV</h1>
                    </div>
                    
                    <form name="sendForm">
                        <div class="row one-line">
                            <input type="date" class="form-control col-xl-4 col-sm-4 date" placeholder="Date" ng-model="newCV.date">
                        </div>
                        <div class="row one-line">                               
                            <input class="form-control col-xl-6 col-sm-6" name="company" placeholder="Company" ng-model="newCV.company" ng-required="true">                            
                            <input class="form-control col-xl-6 col-sm-6"  name="JobTitle" placeholder="Job Title" ng-model="newCV.JobTitle" ng-required="true">

                        </div>
                        <div class="row one-line">
                            <input class="form-control col-xl-6 col-sm-6" placeholder="Contact person" ng-model="newCV.contactPeron">
                            <input class="form-control col-xl-6 col-sm-6" name="email" placeholder="Email" ng-model="newCV.email" ng-required="true">
                        </div>
                        <div class="row one-line">
                            <input class="form-control col-xl-6 col-sm-6" placeholder="Link To Ad Source" ng-model="newCV.linkToAdSource">
                            <input class="form-control col-xl-6 col-sm-6" placeholder="Description" ng-model="newCV.description">
                        </div>

                        <div ng-controller="resumeCtrl">
                            <div class="row one-line">
                                <select class="form-control col-xl-4 col-sm-4" placeholder="resume version" ng-model="newCV.resumeVersion" ng-options="resume.title for resume in resumeArr" ng-required="true">
                                    <option value="">-- Resume version --</option>

                                </select>
                                <select class="form-control col-xl-4 col-sm-4" placeholder="Cover Letter Version" ng-model="newCV.coverLetterVersion" ng-options="coverLetter.title for coverLetter in coverLetterArr" ng-required="true">
                                    <option value="">-- Cover Letter Version --</option>

                                </select>
                                <select class="form-control col-xl-4 col-sm-4" placeholder="Protfolio Version" ng-model="newCV.protfolioVersion" ng-options="coverLetter.title for coverLetter in coverLetterArr">
                                    <option value="">-- Protfolio Version --</option>

                                </select>
                            </div>

                        </div>
                        
                                                  
                        <button id="send-cv-btn" class="border-button width-button" ng-disabled="(!sendForm.company.$valid) || (!sendForm.email.$valid) ||  (!sendForm.JobTitle.$valid)" data-toggle="modal" data-target="#ModalSend">Send &amp; Save</button>
                        
                        <modal-confirm-send-directive></modal-confirm-send-directive>

                        <!-- // add Good Luck !!! -->

                    </form>


                </div>


            </div>

        </div>

    </div>
</div>




</div>