<div>
    <div class="container">

        <div class="modal" id="ModalInput">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New {{NewObj.panelTitle}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- <input class="input-in-accordion" type="text" ng-model="addNew"> -->

                        <!-- ================================== -->
                        <div class="container p-y-1">
                            <div class="row m-b-1">
                                <div class="col-sm-12 offset-sm-12">
                                    <input class="full-line mb-3" type="text" ng-model="NewObj.title" placeholder="title">
                                </div>
                                <div class="col-sm-12 offset-sm-12">
                                        <input class="full-line mb-3"  type="text" ng-model="NewObj.title" placeholder="short description">
                                    </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-sm-12 offset-sm-12">

                                    <!-- <button id="file-upload-btn" type="button" class="btn btn-primary btn-block align-middle" onclick="document.getElementById('inputFile').click()">Add Image</button> -->
                                    <div class="form-group inputDnD">
                                        <label class="sr-only" for="inputFile">File Upload</label>
                                        <input type="file" ng-model="NewObj.file" class="form-control-file text-buttons-color " id="inputFile" accept="image/*"
                                            onchange="angular.element(this).scope().fileWasSelected(this)" data-title="{{NewObj.file}}">
                                        <!-- <input type="file" ng-model="addNewFile" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" ng-change="fileWasSelected(this)" onchange="readUrl(this)"
                                            data-title="{{addNewFile}}"> -->
                                    </div>
                                    <button id="file-upload-btn" type="button" class="btn buttons-color btn-block align-middle" onclick="document.getElementById('inputFile').click()">Select File</button>



                                </div>
                            </div>

                        </div>
                        <!-- ================================== -->


                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn buttons-color" data-dismiss="modal" ng-click="NewObj.AddNewFunc()">Add</button>

                        <!-- <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addNewCoverLetter()">Add</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addNewResume()">Add</button> -->
                    </div>



                </div>
            </div>
        </div>

    </div>
</div>