<main ng-controller="signUpCtrl">
    <div class="register-page">

        <div class="opacity-rec-color opacity-rec-margin">
            <p class="main-register-header">Work transition has never been easier</p>
            <div class="container-fluid">

                <div class="row ">
                    <div class="col-xl-4 col-lg-5  col-sm-6">

                        <div class="gray-rec">
                            <div class="row one-line">
                                <input class="form-control col-xl-6 col-sm-6" ng-model="fName" placeholder="First Name">
                                <input class="form-control col-xl-6 col-sm-6" ng-model="lName" placeholder="Last Name">

                            </div>
                            <div class="one-input">
                                <input class="form-control full-line" ng-model="email" placeholder="Email">
                            </div>

                            <div class="one-input">
                                <input class="form-control full-line" ng-model="password" placeholder="Password">
                            </div>

                            <div class="one-input">
                                <p class="no-padding-no-margin" >By clicking "Register", you agree with</p>
                                <p class="no-padding-no-margin">Jobic's Privacy Policy and Terms of Use</p>
                            </div>

                            <button class="border-button width-button" ng-click="registerUser()">Register</button>



                        </div>



                    </div>


                    <div class="col-xl-8 col-lg-7  col-sm-6">.
                        <div class="reg-info-rec1">
                            <div class="image-and-lines">
                                <i class="fas fa-user-plus"></i>

                                <div class="two-lines">
                                    <h1>Register.</h1>
                                    <p>Signing up is easy. Jobic is free for job seekers</p>
                                </div>
                            </div>

                            <div class="image-and-lines">
                                <i class="fas fa-cloud-upload-alt"></i>
                                <div class="two-lines">
                                    <h1>Create a profile and upload your resume</h1>
                                    <p>All data will be saved private secured</p>
                                </div>
                            </div>

                            <div class="image-and-lines">
                                <i class="fas fa-tachometer-alt"></i>
                                <div class="two-lines">
                                    <h1>Manage your Job seek process</h1>
                                    <p>Signing up is easy. Jobic is free for job seekers</p>
                                </div>
                            </div>
                            <div class="image-and-lines">
                                <i class="far fa-handshake"></i>
                                <div class="two-lines">
                                    <h1>Close monitoring until successful transition</h1>
                                    <p>Tracking tools and full control over the entire search process</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>












    </div>
    </div>

</main>